<form action="/category/edit" method="post">
id:	<input name="id" value="<%=@item['id']%>"/><br/>
title:<input name="title" value="<%=@item['title']%>"/><br/>
sort:<input name="sort" value="<%=@item['sort']%>"/><br/>

	<input type="submit" value="submit" />

</form>
